<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gym</title>
    <link href="~/css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            margin: 0px;
            font-family: "Lato", sans-serif;
            padding:0px;
        }

      
        .sidebar {
            margin: 0;
            padding: 0;
            width: 200px;
            background-color: #111111; /*#f1f1f1;*/
            position: fixed;
            height: 100%;
            overflow: auto;
        }

            .sidebar a {
                display: block;
                color: #fff;
                padding: 18px;
                text-decoration: none;
                font-size: 15px;
            }

                .sidebar a.active {
                    background-color: #ec4141;
                    color: #ffffff;
                }

                .sidebar a:hover:not(.active) {
                    background-color: #808080;
                    color: white;
                    text-decoration: none;
                }

        div.content {
            margin-left: 200px;
            padding: 1px 16px;
           
        }
        div#mySidenav {
            padding-top: 30px;
        }
        @@media screen and (max-width: 700px) {
            .sidebar {
                width: 100%;
                height: auto;
                position: relative;
            }

                .sidebar a {
                    float: left;
                }

            div.content {
                margin-left: 0;
            }
        }

        @@media screen and (max-width: 400px) {
            .sidebar a {
                text-align: center;
                float: none;
            }
        }
    </style>
</head>
<body>
    <header>
        <div class="text-center p-3" style="background-color:#ec4141;text-align:right;position:relative;top:0;width:100%; height:2.5rem">
            <span style="width:99%;right:0;float:left;color:white;font-size:1.2em;font-weight:700">
                <a href="~/" style="color:white;text-decoration:none">Back to home</a>
                <a href="~/Account/Logout" style="color:white;text-decoration:none;padding:5px;">Logout</a>
            </span>
        </div>
    </header>
    <div class="row">
        <div class="col-md-2">
            <div id="mySidenav" class="sidebar">
                <a class="@(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "index" ? "active" : "")" href="~/Admin">Dashboard</a>
                <a class="@(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "appointments" ? "active" : "")" href="~/Admin/Appointments">Appointments</a>
                <a class="@(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "images" ? "active" : "")" href="~/Admin/Images">Image</a>
                <a class="@(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "videos" ? "active" : "")" href="~/Admin/Videos">Videos</a>
                <a class="@(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "users" ? "active" : "")" href="~/Admin/Users">Users</a>
                <a class="@(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "certifications" ? "active" : "")" href="~/Certifications">Certification</a>
                <a class="@(ViewContext.RouteData.Values["Action"].ToString().ToLower() == "loginhistory" ? "active" : "")" href="~/Admin/LoginHistory">Login History</a>
            </div>
        </div>
        <div class="col-md-10" style="margin:10px 10px 10px 250px">
            @RenderBody()
        </div>
    </div>



    <footer style="background-color:none;padding:0px;">
        <div class="text-center p-3" style="background-color:#ec4141;position:fixed;bottom:0;width:100%; height:2.5rem">
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>