@model IEnumerable<Gym.Models.UserModel>

@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" />


<h2></h2>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="display table" id="user">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UserName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Password)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.UserType)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.IsActive)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Password)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserType)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IsActive)
				</td>
				<td>
					<a href="javascript:void(0)" class="editmodal" onclick="edit(@item.Id)">Edit</a> |

				
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div id="myModal" class="modal editmodalpopup" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Modal Header</h4>
			</div>
			<div class="modal-body">
				<div class="container">
					<div class="modal-body">
						<div id="EditDialog" class="container">
							
						</div>
					</div>
				</div>

				@*@Html.Partial("My partial View")*@
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default close" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
@*<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>*@
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">

	function edit(e) {
		debugger;
		$.ajax({
			type: "GET",
			url: '/Home/EditUser/' + e,
			contentType: "application/json; charset=utf-8",
			datatype: "json",
			success: function (data) {
				$('.editmodalpopup').find('#EditDialog').html(data);
				$('.editmodalpopup').css("display", "block");
			},
			error: function () {
				alert("Content load failed.");
			}
		});

	}

	$('button.close').click(function () {
		$('.editmodalpopup').css("display", "none");
		$('.createmodalpopup').css("display", "none");
	});
</script>

<script type="text/javascript">
	$(document).ready(function () {
		$('#user').DataTable();
	});
</script>